---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if page.profile -%}
    {%- assign nav_siblings = site.posts | where: "profile", page.profile -%}
  {%- else -%}
    {%- assign nav_siblings = site.posts | where_exp: "post", "post.profile == nil" -%}
  {%- endif -%}
  {%- assign nav_prev = nil -%}
  {%- assign nav_next = nil -%}
  {%- assign nav_found = false -%}
  {%- for post in nav_siblings -%}
    {%- if post.url == page.url -%}
      {%- assign nav_found = true -%}
    {%- elsif nav_found and nav_prev == nil -%}
      {%- assign nav_prev = post -%}
    {%- elsif nav_found == false -%}
      {%- assign nav_next = post -%}
    {%- endif -%}
  {%- endfor -%}

  {%- if nav_prev or nav_next -%}
  <nav class="post-navigation">
    <div class="post-navigation-prev">
      {%- if nav_prev -%}
      <a href="{{ nav_prev.url | relative_url }}">&larr; {{ nav_prev.title }}</a>
      {%- endif -%}
    </div>
    <div class="post-navigation-next">
      {%- if nav_next -%}
      <a href="{{ nav_next.url | relative_url }}">{{ nav_next.title }} &rarr;</a>
      {%- endif -%}
    </div>
  </nav>
  {%- endif -%}

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
